table.summarystats {
  width: 50%;
  text-align: center;
  padding-left: 100px;
  margin-left: 50px;
}

table.summarystats th {
  font-size: 11px;
  border-bottom: 1px solid rgb(110, 110, 110);
}

table.summarystats tr, th, td {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  align-items: center;
  text-align: center;
  height: 30px;
  width: 100%;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  margin-top: 20px;
  display: flex;
}

h3 span {
  background: linear-gradient(45deg, rgba(20,71,153,1) 0%, rgba(58,26,122,1) 80%, rgba(58,26,122,1) 92%);  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.container {
  margin-left: 50px;
}

.onestatistic {
  margin-bottom: 100px;
}